#navbar{
    background-color: var(--primary-background);
    padding: 20px;
    
}
#navbar .nav-area{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#navbar .nav{
    display: flex;
    
}
#navbar ul{
    display: flex;   
}
#navbar .nav li{
    list-style: none;
  
}
#navbar .nav li a{
    color: var(--white);
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    margin: 5px 38px;
    font-weight: 300;
}
/* Nav area end */


#banner{
    background-image: url(./assets/banner.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}
#banner .banner-area{
    width: 592px;
}
#banner .dummy{
    display: flex;
    align-items: center;
    position: relative;
}
#banner .dummy .line{
    width: 18px;
    height: 1px;
    background-color: var( --primary-color);
    display:inline-block;
    position: absolute;
    top:76px
}





