#navbar{
    background-color: var(--primary-background);
    padding: 20px;
    
}
#navbar .nav-area{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#navbar .nav{
    display: flex;
    
}
#navbar ul{
    display: flex;   
}
#navbar .nav li{
    list-style: none;
  
}
#navbar .nav li a{
    color: var(--white);
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    margin: 5px 38px;
    font-weight: 300;
}
/* Nav area end */


#banner{
    background-image: url(./assets/banner.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}
#banner .banner-area{
    width: 592px;
}
#banner .dummy{
    display: flex;
    align-items: center;
    position: relative;
}
#banner .dummy .line{
    width: 18px;
    height: 1px;
    background-color: var( --primary-color);
    display:inline-block;
    position: absolute;
    top:76px
}
/* Banner area end */

#services .service-text h4{
    color: var(--text-color);
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 16px;
}
#services .service-cards{
    display: flex;
    justify-content: space-between;
    margin: 44px 0 ;
}
#services .service-cards .card{
    width: 31%;
    background-color: var(--light-orange);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 20px solid var(--primary-color);
    padding: 80px;
}
#services .service-cards .card .card-img{
    width: 55px;
    height: 55px;
    background-color:var(--primary-color) ;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#services .service-cards .card img{
    width: 35px;
}
#services .service-cards .card h4{
    color: var(--text-color);
    padding: 20px 0;
    font-weight: 400;
    width: 251px;
    line-height: 25px;
}

/* Service area end */

#compasion .compasion-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#compasion .compasion-text h4{
    text-align: center;
    color: var(--text-color);
    text-transform: uppercase;
}
#compasion .compasion-text h3{
    font-weight: 400;
    text-transform: capitalize;
    line-height: 24px;
    font-size: 16px;
    width: 846px;
    text-align: center;
    margin-bottom: 25px;
}
#compasion .compasion-cards{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    
}
#compasion .compasion-cards img{
    border-radius: 20px;
}
#compasion .compasion-cards .card1{
    position: absolute;
    top: -25px;
    left: 200px;
}
#compasion .compasion-cards .card2{
    position: absolute;
    top: 50px;
}
#compasion .compasion-cards .card3{
    position: absolute;
    top: -20px;
    right: 200px;
}

