@import "@fortawesome/fontawesome-free/css/all.min.css";
body{
  font-family: "Roboto Condensed", sans-serif;
}
:root {
  --primary-background: #161722; 
  --primary-color: #FFD2A4;
  --text-color:#1C1D28;
  --light-orange: #FFF5EB;
  --gray: #F5F2F0;
  --white:#ffffff;
  --brand-gradient: linear-gradient(90deg, #A54E2B 0%, #DC9853 100%);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  max-width: 1500px;
  margin: 0 auto;
}
.wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.primary-btn{
  color: var(--text-color);
  background-color: var(--primary-color);
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 300;
  padding: 15px 20px;
  border-radius: 12px;
}
h1{
  color: var(--white);
  font-weight: 700;
  font-size: 74px;
  line-height: 82px;
  letter-spacing: -1%;
  width: 592px;
  padding: 16px 0 32px 0;
}
h4{
  color: var(--light-orange);
  font-size: 16px;
  font-weight: 700;
  padding-top: 186px;
}
h5{
  color: var(--light-orange);
  margin: 64px 0 0 30px;
  font-size: 16px;
  width: 308px;
  line-height: 24px;
  font-weight: 300;
}